<div class="footer">
    <div class="social text-center">
        <a href="https://web.facebook.com/Dariuslivingng/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/darius_living" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/darius_living/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="footnote pull-right">&copy;2017 Darius Living. All Rights Reserved - Built by <a href="https://twitter.com/thedevgene" target="_blank">TheDevGene</a> &copy;</div>
</div>