<div class="container-fluid">
  <div class="rates-main">
    <h2 class="rates">Rates</h2>
    <div class="table-responsive table-main">
      <table class="table">
        <thead>
          <tr>
            <th>&#8358; - Nigerian Naira</th>
            <th>Daily</th>
            <th>Weekly</th>
            <th>Monthly</th>
            <th>Yearly</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Default Rate</b></td>
            <td>&#8358;40,000</td>
            <td>&#8358;280,000</td>
            <td>&#8358;1,240,000</td>
            <td>&#8358;14,600,000</td>
          </tr>
          <tr>
            <td><b>Additional Info</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
          <div class="row policy">
            <div class="col-md-3 policies"><b>Policies</b></div>
            <div class="col-md-5">
              <p>Pets not allowed</p> 
              <p>Credit card and bank transfers accepted</p>
              <p>Accessible 24/7</p> 
              <p>Elevator in building</p> 
              <p>Housekeeper included</p>
            </div>
          </div>
    </div>
  </div>
</div>
