<div class="container-fluid">
  <div class="contact-main">
    <h2>Contact</h2>
    <div class="img-div"> 
      <img src="http://res.cloudinary.com/chuloo/image/upload/v1504139466/DSC_1009_m8qca4.jpg" alt="serene environment" class="img">
    </div> 
    <div class="contact">
      <p><span class="contact-head">Address:</span> The Residence, next to Golden Tulip, Amuwo-Odofin, Lagos.</p>
      <p><span class="contact-head">Email:</span> Darius.livin@gmail.com</p>
      <p><span class="contact-head">Customer-Service Hotline:</span> +234-808-920-1668</p>
    </div>
    <div class="contact">
      <div class="row">
        <div class="col-md-3">
          <p class="contact-head">Customer Rep.</p>
        </div>
        <div class="col-md-9">
          <p>Sanya Onolaja</p>
        </div>
      </div>
    </div>
  </div>
</div>
