.size{
    background-color: #d9dbdd;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 90px;
    
   
}

.nav.navbar-nav.navbar-right li a {
    color: hsl(0, 2%, 12%);
    text-align: center;
    margin-top: 15px;
    font-size: 0.97em;
    font-family: lato;
}

a.navbar-brand{
    color: hsl(0, 2%, 12%);
    text-align: center;
    margin-top: 15px;
}

.book{
    background-color: maroon;
    }

    #white{
        color: white;
    }
