<nav class=" navbar navbar-fixed-md navbar navbar-dark bg-dark size blog-masthead">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">DARIUSLIVING</a>
          
        </div>
        
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink] = "['/']">HOME</a></li>
             <li><a [routerLink] = "['/overview']">OVERVIEW</a></li>
              <li><a [routerLink] = "['/map']">MAP</a></li>
              <li><a [routerLink] = "['/gallery']">GALLERY</a></li>
              <li><a [routerLink] = "['/rates']">RATES</a></li>
              <li><a [routerLink] = "['/reviews']">REVIEWS</a></li>
            <li><a [routerLink] = "['/availability']">AVAILABILITY</a></li>
            <li><a [routerLink] = "['/contact']">CONTACT</a></li>
            <li class="book"><a id="white" [routerLink] = "['/book']">BOOK</a></li>
          </ul>

          
        
      </div>
    </nav>


    


