.container-fluid{
    margin-top: 100px;
}
.gallery-main{
    width: 85%;
    margin:0px auto;
}
ul {
  padding: 0;
  width: 780px;
  margin: 20px auto
}

li {
  display: inline;
}

.tn {
  margin: 2px 0px;
  box-shadow: #999 1px 1px 3px 3px;
  cursor: pointer
}
.modal-content {
  width: 800px !important;
}
.modal-body img{
    width: 100%;
}
.btn-back, .btn-forward{
	position:absolute;
	opacity:0.9;
	background-color:black;
  padding:30px 20px;
  margin-top: -35%;
	top:190;
	color:white;
	font-weight:bold;
  cursor:pointer;
  font-size: 1.2em;
  /* height: 20%; */
  /* width: 5%; */
}
 
.btn-forward{
  right:0;
  margin-right: 15px;
}
@media screen and (max-width:768px){
  .container-fluid{
    margin-top: 76px;
  }
  ul{
    width: 100%;
    margin: 0px auto;
  }
  li{
    display: inline-block;
    margin: 0px;
  }
  .modal-content{
    max-width: 100%;
  }
  .btn-back, .btn-forward{
    padding: 10px;
  }
}