<carousel class="text-center">
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084423/dariusliving/DSC_1010.jpg"  alt="Sitting area">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084242/dariusliving/DSC_0934.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084313/dariusliving/DSC_0874.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084532/dariusliving/DSC_0852.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>


<h1>Home Works</h1>

