<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item">
      <img src="http://res.cloudinary.com/chuloo/image/upload/c_scale,h_2000,w_4364/v1503084242/dariusliving/DSC_0934.jpg" alt="Serene Room">
      <div class="carousel-caption">
        <p>Luxury Room</p>
      </div>
    </div>

    <div class="item active">
      <img src="http://res.cloudinary.com/chuloo/image/upload/c_scale,h_2000,w_4364/v1504171199/pool_side_munjaw.jpg" alt="Serene Environment">
      <!-- <img src="http://res.cloudinary.com/chuloo/image/upload/c_scale,h_2000,w_4364/v1503084423/dariusliving/DSC_1010.jpg" alt="Serene Environment"> -->
      <div class="carousel-caption">
        <p>Serene Environment</p>
      </div>
    </div>

    <div class="item">
      <img src="http://res.cloudinary.com/chuloo/image/upload/c_scale,h_2000,w_4364/v1503084313/dariusliving/DSC_0874.jpg" alt="sitting area">
      <div class="carousel-caption">
        <p>Aesthetics is key!</p>
      </div>
    </div>

    <div class="item">
      <img src="http://res.cloudinary.com/chuloo/image/upload/c_scale,h_2000,w_4364/v1503084532/dariusliving/DSC_0852.jpg" alt="Sitting chairs">
      <div class="carousel-caption">
        <p>State of the art sitting</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Content -->
<div class="container-fluid">
  
  <div class="welcome-main">
    <div class="welcome-text">
      <h1>Welcome to Darius Living</h1>
      <p>Step into our colorful unit at Darius Living and feel Nigeria's care free sprit take you to your happy place. You'll enjoy
      partial views of classic areas in Lagos, pool access at Golden Tulip, the adjoining hotel and top - notch amenities
      from the heart of Nigeria, where you're just minutes from Shop rite and Festival Mall. This beautiful modern apartment
      sleeps four. Get your trip started with our online booking assistant, which includes money saving tips, recommendations
      discounts on activities, and more.
    </p>
    </div>
    <div class="welcome-images">
      <img class="img1" src="http://res.cloudinary.com/chuloo/image/upload/v1503084463/dariusliving/DSC_0865.jpg" alt="Champage bottle">
      <img class="img2" src="http://res.cloudinary.com/chuloo/image/upload/v1503256273/DSC_0907_x66xke.jpg" alt="Hallway">
    </div>
  </div>
  
  <section class="section2">
    <div class="package-main row">
      <h2 class="text-center">Features</h2>
      <div class="package col-md-4">
        <h4 class="text-center">Overview</h4>
        <p>Darius Living was born with the goal of giving guests the best possible experience - from customer service to decor- place
        that would truly capture the mainland’s relaxed atmosphere while ensuring you've got the modern amenities you need.</p>
      </div>
      <div class="package col-md-4">
        <h4 class="text-center">Our Space</h4>
        <p>Bright and airy with tons of positive Lagos vibes, our space includes two bedroom with two king size beds and a double -
        size automated chair in the living area - a clean-lined, minimalist space with soothing neutral tones.</p>
      </div>
      <div class="package col-md-4">
        <h4 class="text-center">Extras</h4>
        <p>There's also a bar area and a modern, fully equipped kitchen complete with granite top, breakfast bar, juice mixer and everything
        you need to whip a batch of jerk chicken, with two immaculate bathrooms to make you feel like you're staying in a
        luxury 5*hotel, with modern fixtures and a big flexible shower head, dedicated staffs.</p>
      </div>
    </div>
  </section>
  
  <section class="section3">
    <div class="contact-main">
      <h2 class="text-center">Contact Us</h2>
      <p>Address: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
      <p>Customer-Care Helpline: +234-81-xxx-xxxx, +234-80-xxx-xxxx</p>
      <p>Email: abcd@wxyz.com</p>
    </div>
  </section>
  
  <div class="footer">
    <div class="social text-center">
        <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="footnote">Powered by TheDevGene 2017 &copy;</div>
  </div>

</div>


