<carousel class="text-center container-fluid">
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084423/dariusliving/DSC_1010.jpg"  alt="Sitting area">
    <div class="carousel-caption">
      <h3>Dariusliving luxury apartments</h3>
      <p>Enjoy serene contemporary african getaway!</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084242/dariusliving/DSC_0934.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Luxury Rooms</h3>
      <p>State of the art luxury rooms to taste!</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084313/dariusliving/DSC_0874.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Sitting area</h3>
      <p>Aesthetics being the key here!</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/chuloo/image/upload/v1503084532/dariusliving/DSC_0852.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>State of the art sitting</h3>
      <p>Have a chat in style! </p>
    </div>
  </slide>
</carousel>

<!-- Content -->
<div class="container-fluid">
  
  <div class="welcome-main">
    <div class="welcome-text">
      <h1>Welcome to Darius Living</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
      tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
      eu, consequat vitae, eleifend ac, enim.</p>
    </div>
    <div class="welcome-images">
      <img class="img1" src="http://res.cloudinary.com/chuloo/image/upload/v1503084463/dariusliving/DSC_0865.jpg" alt="Champage bottle">
      <img class="img2" src="http://res.cloudinary.com/chuloo/image/upload/v1503256273/DSC_0907_x66xke.jpg" alt="Hallway">
    </div>
  </div>
  
  <section class="section2">
    <div class="package-main">
      <h2 class="text-center">Our Package</h2>
      <div class="package">
        <h4 class="text-center">Package 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
        pretium quis, sem.</p>
      </div>
      <div class="package">
        <h4 class="text-center">Package 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
          eu, pretium quis, sem.</p>
      </div>
      <div class="package">
        <h4 class="text-center">Package 3</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
          eu, pretium quis, sem.</p>
      </div>
    </div>
  </section>
  
  <section class="section3">
    <div class="contact-main">
      <h2 class="text-center">Contact Us</h2>
      <p>Address: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
      <p>Customer-Care Helpline: +234-81-xxx-xxxx, +234-80-xxx-xxxx</p>
      <p>Email: abcd@wxyz.com</p>
    </div>
  </section>
  
  <div class="footer">
    <div class="social text-center">
        <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="footnote">Powered by TheDevGene 2017 &copy;</div>
  </div>

</div>


